:root {
    --confirmed: red;
    --recovered: greenyellow;
    --deaths: #dce1e8;
}

body {
    margin: 0; 
    padding: 0;
    background-color: #191b1b;
    color: white;
}

#main { 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    user-select: none;
}

#confirmed {
    flex: 1;
    border: 1px solid #6e6e6e;
    overflow: scroll;
    max-height: 100vh;
}

#map { 
    flex: 2;
    top: 0; 
    bottom: 0; 
    width: 100%; 
    user-select: none;
}

#stats {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#deaths, #recovered, #infoSec {
    flex: 1;
    border: 1px solid #6e6e6e;
    overflow: scroll;
}

#source, #lastUpdate {
    border: 1px solid #6e6e6e;
    font-size: small;
    text-align: center;
    padding: 10px
}

#info {
    margin: 10px;
}

#info .state {
    font-size: 2vw;
    margin: 5px;
}

#info #infoConf {
    color: var(--confirmed);
}
#info #infoDeaths {
    color: var(--deaths);
}
#info #infoRec {
    color: var(--recovered);
}
#info #infoActive {
    color: #de802d;
}

#info .value {
    padding-left: 20px;
    margin: 10px;
    font-size: small;
}

#dnr {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-height: 50vh;
}

#confirmed, #deaths, #recovered {
    display: flex;
    flex-direction: column;
}

#confimedStats {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#confirmed {
    max-height: 65vh;
}

#miniGraph {
    margin-top: 10px;
    border: 1px solid #6e6e6e;
    bottom: 0;
}

.stat {
    border-top: 1px solid white;
    padding: 15px 10px;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: normal;
    font-size: 2vw;
}

.value {
    line-height: normal;
}

#confirmed .value {
    color: var(--confirmed)
}
#deaths .value {
    color: var(--deaths);
}
#recovered .value {
    color: var(--recovered);
}

.header {
    font-size: 3vw;
    text-align: center;
}

.header .value {
    font-size: 3vw;
}

.sec, .sec #deaths, .sec #recovered {
    margin: 5px;
    -ms-overflow-style: none;  /* IE 10+ */
    overflow: -moz-scrollbars-none;  /* Firefox */
}

.sec::-webkit-scrollbar, .sec #deaths::-webkit-scrollbar, .sec #recovered::-webkit-scrollbar{
    display: none; /* Safari and Chrome */
}

.marker {
    background-color: rgba(204, 18, 18, 0.7);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

.level1 {
    width: 12.5px;
    height: 12.5px;
}
.level2 {
    width: 25px;
    height: 25px;
}
.level3 {
    width: 37.5px;
    height: 37.5px;
}
.level4 {
    width: 50px;
    height: 50px;
}
.level5 {
    width: 62.5px;
    height: 62.5px;
}

#hover {
    display: none;
    /* position: relative; */
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}

@media (min-width: 760px) {
    #info .value,
    .stat {
        font-size: 1rem;
    }

    .header,
    .header .value {
        font-size: 1.5rem;
    }
}